<div class="row" *ngFor="let session of visibleSessions">
  <div class="col-md-1">
    <app-upvoted (vote)="toggleVote(session)" [count]="session?.voters?.length" [voted]="userHasVoted(session)" [modal-trigger]="(!auth.currentUser) ? 'upvoted-modal' : ''"></app-upvoted>
  </div>
  <div class="col-md-11">
    <app-collapsible-well >
      <div well-title>
        {{session.name}}
        <i *ngIf="session?.voters?.length !== 0" class="glyphicon glyphicon-fire" style="color:red"></i>
      </div>
      <div well-body>
        <h6>{{session.presenter}}</h6>
        <span>Duration: {{session.duration}}</span><br />
        <span>Level: {{session.level}}</span>
        <p>{{session.abstract}}</p>
      </div>
    </app-collapsible-well>

  </div>
</div>

<div class="row" *ngIf="visibleSessions.length === 0">
  <div class="col-12">
    <app-collapsible-well >
      <div well-title>
        No Data Found
      </div>
    </app-collapsible-well>
  </div>
</div>


<app-simple-modal idModal="upvoted-modal" [closeOnBodyClick]="false">
  <app-login></app-login>
</app-simple-modal>
